{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1>Books</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td>
                    {% for image in book.img %}
                     <img src="{{ asset( '/uploads/' ~ image.name) }}" alt="couverture du livre" >
                    {% endfor %}   
                </td>
            </tr>
            <tr>
                <th>IsAvailable</th>
                <td>{{ book.isAvailable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>GetAt</th>
                <td>{{ book.getAt ? book.getAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>GetBackAt</th>
                <td>{{ book.getBackAt ? book.getBackAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('books_index') }}">back to list</a>

    <a href="{{ path('books_edit', {'id': book.id}) }}">edit</a>

    {{ include('books/_delete_form.html.twig') }}
{% endblock %}
